# 연습

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../../../datasets/bike.csv')
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [6]:
pd.crosstab(df['workingday'], df['holiday'], normalize=True)

holiday            0         1
workingday
0           0.290557  0.028569
1           0.680875  0.000000

In [8]:
df = pd.read_csv('../../../datasets/diamonds.csv')
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [30]:
pd.crosstab(df['cut'], df['color']).reset_index() \
.melt(id_vars='cut').sort_values('value', ascending=False).head(2)

      cut color  value
17  Ideal     G   4884
7   Ideal     E   3903

In [41]:
df_agg = df.groupby(['cut', 'color'])['price', 'carat'].mean().reset_index()
df_agg['ratio'] = df_agg['price'] / df_agg['carat']
df_agg.sort_values('ratio', ascending=False).head(2)

C:\Users\Lee\AppData\Local\Temp\ipykernel_24332\3262216312.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_agg = df.groupby(['cut', 'color'])['price', 'carat'].mean().reset_index()

        cut color        price     carat        ratio
24  Premium     G  4500.742134  0.841488  5348.553755
17    Ideal     G  3720.706388  0.700715  5309.874382

In [42]:
df = pd.read_csv('../../../datasets/bike.csv')
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [50]:
df.loc[:, ['temp', 'atemp', 'humidity', 'casual']].corr().min() \
.round(2).min()

-0.35

In [67]:
df_corr = df.groupby('season')['atemp', 'casual'].corr()
df_corr.loc[df_corr['atemp'] < 1, 'atemp'].round(3)

C:\Users\Lee\AppData\Local\Temp\ipykernel_24332\12591739.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_corr = df.groupby('season')['atemp', 'casual'].corr()

season
1       casual    0.478
2       casual    0.378
3       casual    0.381
4       casual    0.444
Name: atemp, dtype: float64

In [68]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [71]:
df['is_sunny'] = (df['weather'] == 1) + 0
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,is_sunny
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1

In [86]:
df_corr = df.groupby('is_sunny')['temp', 'casual'].corr()
df_corr = df_corr.loc[df_corr['casual'] < 1, 'casual']
abs(df_corr[0] - df_corr[1]).round(3)

C:\Users\Lee\AppData\Local\Temp\ipykernel_24332\1200016854.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_corr = df.groupby('is_sunny')['temp', 'casual'].corr()

temp    0.025
Name: casual, dtype: float64

In [133]:
df = pd.read_csv('../../../datasets/diabetes.csv')
print(df.size)
df.head(2)

6912

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [134]:
df_bmi = df.loc[df['BMI'] != 0,]
print(df_bmi.size)
df_bmi.head(2)

6813

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [135]:
from sklearn.cluster import KMeans

In [136]:
model = KMeans(n_clusters=4, random_state=123)

In [137]:
model.fit(df_bmi)
df_bmi['cluster'] = model.labels_
df_bmi.head()

C:\Users\Lee\AppData\Local\Temp\ipykernel_24332\1072177984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bmi['cluster'] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0
3,1,89,66,23,94,28.1,0.167,21,0,2
4,0,137,40,35,168,43.1,2.288,33,1,3

In [138]:
df_bmi['cluster'].value_counts()

0    407
2    212
3    114
1     24
Name: cluster, dtype: int64

In [139]:
df_bmi.loc[df_bmi['cluster'] == 0, 'Insulin'].mean()

4.103194103194103

In [140]:
df_bmi = df.loc[df['BMI'] != 0,]
df_bmi.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [141]:
from sklearn.preprocessing import MinMaxScaler

In [142]:
scaler = MinMaxScaler()
scaler

MinMaxScaler()

In [143]:
scaler.fit(df_bmi)
df_bmi_scaled = pd.DataFrame(scaler.transform(df_bmi), columns=df_bmi.columns)
# df_bmi_scaled['Age'] = df_bmi['Age']
# df_bmi_scaled.head(2)
df_bmi_scaled.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [149]:
model = KMeans(n_clusters=4, random_state=123)
model.fit(df_bmi_scaled)
# model.labels_
df_bmi['cluster'] = model.labels_
df_bmi.head()
df_bmi_scaled['cluster'] = model.labels_
df_bmi_scaled['Age'] = df_bmi['Age']
# df_bmi_scaled.head(2)

C:\Users\Lee\AppData\Local\Temp\ipykernel_24332\4239170101.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bmi['cluster'] = model.labels_

In [145]:
df_bmi['cluster'].value_counts()

0    361
1    135
2    131
3    130
Name: cluster, dtype: int64

In [148]:
# df_bmi_scaled.loc[df_bmi_scaled['cluster'] == 0, 'Age'].mean().round()
df_bmi.groupby('cluster')['Age'].mean().round()

cluster
0    26.0
1    30.0
2    44.0
3    47.0
Name: Age, dtype: float64

In [147]:
df_bmi['cluster'].value_counts()

0    361
1    135
2    131
3    130
Name: cluster, dtype: int64

In [152]:
df_bmi_scaled['cluster'].value_counts()

0    361
1    135
2    131
3    130
Name: cluster, dtype: int64

In [154]:
df_bmi_scaled.groupby('cluster')['Age'].mean().round()

cluster
0    33.0
1    32.0
2    34.0
3    33.0
Name: Age, dtype: float64

In [155]:
df_bmi = df.loc[df['BMI'] != 0,]
df_bmi.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [156]:
model = KMeans(n_clusters=3, random_state=123)
model.fit(df_bmi)

KMeans(n_clusters=3, random_state=123)

In [160]:
df_center = pd.DataFrame(model.cluster_centers_, columns=df_bmi.columns)
df_center.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,4.026316,158.447368,72.000000,32.263158,441.289474,35.107895,0.569211,34.763158,0.578947
1,3.975258,114.237113,68.647423,15.259794,14.696907,31.440619,0.434579,33.808247,0.301031
2,3.542735,129.376068,71.478632,30.337607,159.401709,34.134615,0.535188,31.948718,0.418803

In [163]:
df_center = df_center.transpose()
df_center

                                   0           1           2
Pregnancies                 4.026316    3.975258    3.542735
Glucose                   158.447368  114.237113  129.376068
BloodPressure              72.000000   68.647423   71.478632
SkinThickness              32.263158   15.259794   30.337607
Insulin                   441.289474   14.696907  159.401709
BMI                        35.107895   31.440619   34.134615
DiabetesPedigreeFunction    0.569211    0.434579    0.535188
Age                        34.763158   33.808247   31.948718
Outcome                     0.578947    0.301031    0.418803

In [165]:
# () ** (1 / 2)

df['Age'].median()

29.0