# 데이터 전처리: 파생변수 생성

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../datasets/iris.csv')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df['is_setosa'] = np.where(df['Species'] == 'setosa', 1, 0)
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_setosa
0           5.1          3.5           1.4          0.2  setosa          1
1           4.9          3.0           1.4          0.2  setosa          1
2           4.7          3.2           1.3          0.2  setosa          1
3           4.6          3.1           1.5          0.2  setosa          1
4           5.0          3.6           1.4          0.2  setosa          1

In [5]:
df.tail()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,is_setosa
145,6.7,3.0,5.2,2.3,virginica,0
146,6.3,2.5,5.0,1.9,virginica,0
147,6.5,3.0,5.2,2.0,virginica,0
148,6.2,3.4,5.4,2.3,virginica,0
149,5.9,3.0,5.1,1.8,virginica,0

In [6]:
pd.crosstab(df['Species'], df['is_setosa'])

is_setosa    0   1
Species
setosa       0  50
versicolor  50   0
virginica   50   0

In [7]:
df['is_setosa_2'] = (df['Species'] == 'setosa') + 0
df['is_setosa_3'] = (df['Species'] == 'setosa') * 1
df.head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,is_setosa,is_setosa_2,is_setosa_3
0,5.1,3.5,1.4,0.2,setosa,1,1,1
1,4.9,3.0,1.4,0.2,setosa,1,1,1
2,4.7,3.2,1.3,0.2,setosa,1,1,1
3,4.6,3.1,1.5,0.2,setosa,1,1,1
4,5.0,3.6,1.4,0.2,setosa,1,1,1

In [8]:
df.rename(columns={'Sepal.Length': 'SL'})

,SL,Sepal.Width,Petal.Length,Petal.Width,Species,is_setosa,is_setosa_2,is_setosa_3
0,5.1,3.5,1.4,0.2,setosa,1,1,1
1,4.9,3.0,1.4,0.2,setosa,1,1,1
2,4.7,3.2,1.3,0.2,setosa,1,1,1
3,4.6,3.1,1.5,0.2,setosa,1,1,1
4,5.0,3.6,1.4,0.2,setosa,1,1,1
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,0,0
146,6.3,2.5,5.0,1.9,virginica,0,0,0
147,6.5,3.0,5.2,2.0,virginica,0,0,0
148,6.2,3.4,5.4,2.3,virginica,0,0,0
149,5.9,3.0,5.1,1.8,virginica,0,0,0

In [10]:
df = df.rename(columns={'Sepal.Length': 'SL'})
df.head()

,SL,Sepal.Width,Petal.Length,Petal.Width,Species,is_setosa,is_setosa_2,is_setosa_3
0,5.1,3.5,1.4,0.2,setosa,1,1,1
1,4.9,3.0,1.4,0.2,setosa,1,1,1
2,4.7,3.2,1.3,0.2,setosa,1,1,1
3,4.6,3.1,1.5,0.2,setosa,1,1,1
4,5.0,3.6,1.4,0.2,setosa,1,1,1

In [11]:
bike = pd.read_csv('../datasets/bike.csv')
bike.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [12]:
bike.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [15]:
bike_sub = bike.iloc[:4, 9:11]  # row 4개
print(len(bike_sub))

bike_sub = bike.loc[:4, ['casual', 'registered']]
bike_sub = bike.loc[:4, 'casual':'registered']  # row 5개
print(len(bike_sub))

bike_sub.head()

4
5

   casual  registered
0       3          13
1       8          32
2       5          27
3       3          10
4       0           1

In [16]:
bike_sub.sum()

casual        19
registered    83
dtype: int64

In [17]:
bike_sub.sum(axis=1)

0    16
1    40
2    32
3    13
4     1
dtype: int64

In [19]:
bike_sub.apply(func=sum)

casual        19
registered    83
dtype: int64

In [20]:
bike_sub.apply(func=sum, axis=1)

0    16
1    40
2    32
3    13
4     1
dtype: int64

In [23]:
# bike_sub.mean()
bike_sub.apply(func=pd.Series.mean)

casual         3.8
registered    16.6
dtype: float64

In [24]:
bike_sub.apply(func=lambda x: round(x.mean()))

casual         4
registered    17
dtype: int64

In [25]:
bike_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   casual      5 non-null      int64
 1   registered  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [26]:
bike_sub['casual']

0    3
1    8
2    5
3    3
4    0
Name: casual, dtype: int64

In [27]:
3 + '대'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
'3' + '대'

'3대'

In [30]:
bike_sub['casual'].astype('str') + '대'

0    3대
1    8대
2    5대
3    3대
4    0대
Name: casual, dtype: object

In [31]:
bike.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [32]:
bike['datetime'][:3].str.slice(0, 4)

0    2011
1    2011
2    2011
Name: datetime, dtype: object

In [33]:
bike['datetime'][:3].str.slice(5, 7)

0    01
1    01
2    01
Name: datetime, dtype: object

In [35]:
bike_time = pd.to_datetime(bike['datetime'][:3])
bike_time

0   2011-01-01 00:00:00
1   2011-01-01 01:00:00
2   2011-01-01 02:00:00
Name: datetime, dtype: datetime64[ns]

In [40]:
print(bike_time.dt.year)
print(bike_time.dt.month)
print(bike_time.dt.hour)
print(bike_time.dt.weekday)

0    2011
1    2011
2    2011
Name: datetime, dtype: int64
0    1
1    1
2    1
Name: datetime, dtype: int64
0    0
1    1
2    2
Name: datetime, dtype: int64
0    5
1    5
2    5
Name: datetime, dtype: int64

In [41]:
bike.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [42]:
bike_dum = pd.get_dummies(data=bike, columns=['season'])  # 하나만 있어도 리스트로 만들어줘야 하는 특이함이 있음
bike_dum.head(2)

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,season_1,season_2,season_3,season_4
0,2011-01-01 00:00:00,0,0,1,9.84,14.395,81,0.0,3,13,16,1,0,0,0
1,2011-01-01 01:00:00,0,0,1,9.02,13.635,80,0.0,8,32,40,1,0,0,0

In [44]:
bike_dum = pd.get_dummies(data=bike, columns=['season'], drop_first=True)  # 첫 번째것을 날려버림
bike_dum.head(2)

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,season_2,season_3,season_4
0,2011-01-01 00:00:00,0,0,1,9.84,14.395,81,0.0,3,13,16,0,0,0
1,2011-01-01 01:00:00,0,0,1,9.02,13.635,80,0.0,8,32,40,0,0,0

### 1. `temp` 변수와 `atemp` 변수 차이의 절대값 평균은?

`abs()` 메소드 사용
결과값은 반올림하여 소수점 셋 째 자리까지 표기한다.

1. 23.665
2. 20.231
3. 12.452
4. 3.509

In [45]:
df = pd.read_csv('../datasets/bike.csv')
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [50]:
df['temp_abs'] = abs(df['temp'] - df['atemp'])

In [51]:
round(df['temp_abs'].mean(), 3)

3.509

### 2. `casual` 값의 최대값이 25가 넘은 날은 총 며칠인가?

`date` 어트리뷰트 활용

1. 0
2. 1
3. 384
4. 345

In [59]:
bike = pd.read_csv('../datasets/bike.csv')
bike['datetime'] = pd.to_datetime(bike['datetime'])
bike.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [61]:
bike['date'] = bike['datetime'].dt.date
bike.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01

In [62]:
bike_agg = bike.groupby('date')['casual'].max()
bike_agg.head()

date
2011-01-01    47
2011-01-02    20
2011-01-03    14
2011-01-04    18
2011-01-05    12
Name: casual, dtype: int64

In [64]:
type(bike_agg)  # 시리즈이기 때문에 loc, iloc 사용 불가

pandas.core.series.Series

In [65]:
bike_agg_up25 = bike_agg[bike_agg > 25]
bike_agg_up25.head(2)

date
2011-01-01    47
2011-01-15    33
Name: casual, dtype: int64

In [66]:
len(bike_agg_up25)

384

In [70]:
bike_agg = bike.groupby('date')['casual'].max().reset_index()
bike_agg.head()

         date  casual
0  2011-01-01      47
1  2011-01-02      20
2  2011-01-03      14
3  2011-01-04      18
4  2011-01-05      12

### 3. 시간대별 `registered` 평균을 산출했을 때 값이 가장 큰 시간은?

`hour` 어트리뷰트 활용

1. 16
2. 17
3. 18
4. 19

In [72]:
bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011-01-01
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011-01-01
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011-01-01

In [76]:
bike2 = bike
bike2['hour'] = pd.to_datetime(bike['datetime']).dt.hour
bike2.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01,1

In [83]:
bike2.groupby('hour')['registered'].mean().max()

393.32456140350877

In [87]:
idx = bike2.groupby('hour')['registered'].mean().idxmax()
max_value = bike2.groupby('hour')['registered'].mean().max()

print(idx, max_value)

17 393.32456140350877