# 상관 분석

In [1]:
import pandas as pd
from scipy.stats import pearsonr, spearmanr, kendalltau

In [2]:
df = pd.read_csv('../datasets/bike.csv')
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [4]:
df.corr()

C:\Users\Lee\AppData\Local\Temp\ipykernel_19152\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000

In [5]:
df[["casual", "registered", "count"]].corr()

              casual  registered     count
casual      1.000000    0.497250  0.690414
registered  0.497250    1.000000  0.970948
count       0.690414    0.970948  1.000000

In [6]:
df[["casual", "registered", "count"]].corr(method='kendall')

              casual  registered     count
casual      1.000000    0.582213  0.666411
registered  0.582213    1.000000  0.919346
count       0.666411    0.919346  1.000000

In [7]:
df[["casual", "registered", "count"]].corr(method='spearman')

              casual  registered     count
casual      1.000000    0.775785  0.847378
registered  0.775785    1.000000  0.988901
count       0.847378    0.988901  1.000000

In [8]:
pearsonr(df["casual"], df["registered"])

PearsonRResult(statistic=0.49724968508700834, pvalue=0.0)

In [9]:
stat, p = pearsonr(df["casual"], df["registered"])
print(stat)
print(p)

0.49724968508700834
0.0

### 1. 기온, 체감온도, 상대습도, 총 자전거 대여 숫자의 상관관계를 분석하였을 때 가장 낮은 상관계수는 얼마인가?

bike.csv 파일 사용
데이터 속성에 맞는 적절한 상관분석 기법 사용
자전거 대여 숫자는 `casual` 변수를 사용

1. -0.04
2. -0.35
3. -0.31
4. -0.24

In [10]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [12]:
# temp : 기온, atemp : 체감온도, humidity : 상대습도, casual: 자전거 대여 숫자
df[["temp", "atemp", "humidity", "casual"]].corr()

# -(마이너스)에서는 값이 클 수록 낮은 것이기 때문에 -0.34 < -0.04임

              temp     atemp  humidity    casual
temp      1.000000  0.984948 -0.064949  0.467097
atemp     0.984948  1.000000 -0.043536  0.462067
humidity -0.064949 -0.043536  1.000000 -0.348187
casual    0.467097  0.462067 -0.348187  1.000000

In [13]:
df[["temp", "atemp", "humidity", "casual"]].corr().round(2)

          temp  atemp  humidity  casual
temp      1.00   0.98     -0.06    0.47
atemp     0.98   1.00     -0.04    0.46
humidity -0.06  -0.04      1.00   -0.35
casual    0.47   0.46     -0.35    1.00

### 2. 계절별로 체감온도와 자전거 대여 숫자의 상관관계를 알아보고자 한다. 이 때 적절한 상관분석기법을 사용하였을 때 상관계수로 옳은 것은?

bike.csv 파일 사용
자전거 대여 숫자는 `casual` 변수를 사용

1. 봄 : 0.444
2. 여름 : 0.378
3. 가을 : 0.382
4. 겨울 : 0.478

In [14]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [24]:
df.groupby('season')[["atemp", "casual"]].corr().round(3) # 그룹핑 한 후 필터링
# df[["atemp", "casual"]].groupby("season").corr().round(3)   # 필터링 한 후 그룹핑

               atemp  casual
season
1      atemp   1.000   0.478
       casual  0.478   1.000
2      atemp   1.000   0.378
       casual  0.378   1.000
3      atemp   1.000   0.381
       casual  0.381   1.000
4      atemp   1.000   0.444
       casual  0.444   1.000

In [27]:
df_corr = df.groupby('season')[["atemp", "casual"]].corr().round(3)
df_corr = df_corr.reset_index()
df_corr

   season level_1  atemp  casual
0       1   atemp  1.000   0.478
1       1  casual  0.478   1.000
2       2   atemp  1.000   0.378
3       2  casual  0.378   1.000
4       3   atemp  1.000   0.381
5       3  casual  0.381   1.000
6       4   atemp  1.000   0.444
7       4  casual  0.444   1.000

In [31]:
df_corr = df_corr.loc[df_corr["atemp"] < 1, ]
df_corr

   season level_1  atemp  casual
1       1  casual  0.478     1.0
3       2  casual  0.378     1.0
5       3  casual  0.381     1.0
7       4  casual  0.444     1.0

### 3. 날씨에 따른 기온과 자전거 대여의 상관계수 변화를 알아보고자 한다. 말씨가 맑은 날과 그렇지 않은 날의 상관계수 차이의 절대값은 얼마인가?

bike.csv 파일 사용하며 weather 변수의 값이 1인 것이 맑은 날
자전거 대여 숫자는 `casual` 변수를 사용

1. 0.464
2. 0.448
3. 0.167
4. 0.025

In [32]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [44]:
df['is_sunny'] = (df['weather'] == 1) + 0
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,is_sunny
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1

In [45]:
df_corr2 = df.groupby('is_sunny')[["temp", "casual"]].corr()
df_corr2

                     temp    casual
is_sunny
0        temp    1.000000  0.446361
         casual  0.446361  1.000000
1        temp    1.000000  0.471053
         casual  0.471053  1.000000

In [49]:
round(abs(df_corr2.iloc[1, 0] - df_corr2.iloc[3, 0]), 3)

0.025