# 데이터 전처리: 결측치, 이상치

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/iris_missing.csv')
df.head(7)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [3]:
df_na = df.head(7)
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [6]:
df_na['Sepal_Length'].isna().sum()  # 각 변수별 결측치 개수 연산, True는 1, False는 0으로 치환됨

1

In [8]:
df_na.isna().sum(axis=1)    # 각 row별 결측치 개수 연산

0    2
1    0
2    1
3    0
4    1
5    0
6    4
dtype: int64

In [11]:
df_na.fillna(value={'Sepal_Length': 999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0          NaN           NaN          NaN  setosa

In [12]:
df_na.fillna(value={'Sepal_Length': 999, 'Sepal_Width': 999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0           NaN          NaN  setosa

In [13]:
df_na.fillna(value = 999)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0         999.0          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     999
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     999
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0         999.0        999.0  setosa

In [14]:
df_na['Sepal_Width'].mean() # 평균

3.3600000000000003

In [15]:
df_na.fillna(value={'Sepal_Width': df_na['Sepal_Width'].mean()})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [17]:
df_na   # 결측치 제거한 데이터프레임을 계속 덮어써줘야함

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [18]:
df_na = df_na.fillna(value={'Sepal_Width': df_na['Sepal_Width'].mean()})
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [19]:
df_na2 = df.head(7)
df_na2

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [20]:
df_na2.dropna() # how가 아무것도 지정되어 있지 않으면 'any', 하나라도 결측치이면 지워버림

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [21]:
df_na2.dropna(how='all') # how = all인 경우 다 결측치여야 지워버림

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [23]:
df_na2.iloc[:, :-1].dropna(how='all')

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [24]:
print(df['Sepal_Length'].max())
print(df['Sepal_Length'].min())
print(df['Sepal_Length'].mean())

7.9
4.3
5.8538461538461535

In [25]:
df['Sepal_Length'].median()

5.8

In [26]:
df['Sepal_Length'].quantile()   # q를 지정하지 않으면 0.5로 설정됨

5.8

In [27]:
print(df['Sepal_Length'].quantile(q=0.25))   # 0.25 : 제1사분위수
print(df['Sepal_Length'].quantile(q=0.50))   # 0.50 : 제2사분위수
print(df['Sepal_Length'].quantile(q=0.75))   # 0.75 : 제3사분위수

5.1
5.8
6.4

### 1. 각 수치형 변수의 결측치 개수 총합은?

1. 9
2. 11
3. 23
4. 40

In [35]:
df.iloc[:, :-1].isna().sum().sum()

40

### 2. `sepal_width` 변수의 결측치를 평균으로 대치한 값의 분산은?

반올림하여 소수점 셋째자리까지 표기

1. 0.176
2. 3.070
3. 3
4. 23

In [41]:
round(
    df['Sepal_Width'].fillna(value=df['Sepal_Width'].mean()).var(),
    3
)

0.176

### 3. 평균을 기준으로 1.5 표준편차를 넘어서는 값을 이상치라고 간주할 때 `Sepal.Length` 변수를 기준으로 이상치인 row 개수는 몇 개인가?

iris.csv 사용

1. 0
2. 13
3. 21
4. 129

In [10]:
df = pd.read_csv('../datasets/iris.csv')
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [11]:
df.isna().sum() # 결측치가 있는지 없는지 확인

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [12]:
sl_mean = df['Sepal.Length'].mean()
sl_std = df['Sepal.Length'].std()

print(sl_mean)
print(sl_std)

5.843333333333334
0.828066127977863

In [14]:
cond_1 = df['Sepal.Length'] < (sl_mean - 1.5 * sl_std)
cond_2 = df['Sepal.Length'] > (sl_mean + 1.5 * sl_std)

df_out = df.loc[(cond_1) | (cond_2)]
len(df_out)

21